body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.chord_workspace{
    width: 70%;
    text-align: center;
}

/* ---------------------------------------------------------
   Nav bar options
   ---------------------------------------------------------*/

.title-center{
    text-align: center;
}

/* ---------------------------------------------------------
   Footer options
   ---------------------------------------------------------*/

.footer{
    margin: 50px;
}

.footer-logo{
    width: 88px;
    height: 31px;
}

/* ---------------------------------------------------------
   SVG styles
   ---------------------------------------------------------*/
svg {
  font-size: 14px;
  max-width: 100%;
  vector-effect: non-scaling-stroke;
}
.info, .label {
  pointer-events: none;
}
.info text {
  fill: white;
}

#circle circle {
  fill: none;
  pointer-events: all;
}
text {
  cursor: default;
  fill: #333;
}
.group-arc + text {
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.group-arc.animate + text {
  opacity: 0;
}
#circle path {
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
#circle:hover path.fade,
#circle path.unselected {
  opacity: 0;
  pointer-events: none;
}
text.fade {
  opacity: 0;
}
.group-arc {
  cursor: pointer;
}
text.region {
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.chord {
  opacity: 0.75;
}
.chord:hover {
  opacity: 1;
}

/* ---------------------------------------------------------
   Timeline styles
   ---------------------------------------------------------*/
.timeline-button{
    margin: 5px;
    text-align: center;
}

/* ---------------------------------------------------------
   Popup styles
   ---------------------------------------------------------*/
.img-icons{
    width: 50px;
    height: 50px;
}

.region-text-countries{
    font-size: 12px;
}

.region-text-crops{
    font-size: 16px;
}

/* ---------------------------------------------------------
   Map circos styles
   ---------------------------------------------------------*/
.map-circos{
    position: relative; 
    width: 100%;
    height: 100%;
}
/* ---------------------------------------------------------
   Home
   ---------------------------------------------------------*/
.img-home{
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  color: #FFF;
  margin-top: -50px;
  min-height: 400px;
}

.content-home{
    padding-top: 200px;
    padding-bottom: 100px;
}

.content-home p {
    font-size: 25px;
}

.content-home h1 {
    font-size: 50px;
}


/* ---------------------------------------------------------
   Map
   ---------------------------------------------------------*/
.img-map{
    height: 100%;
    width: 100%;
}

/* ---------------------------------------------------------
   About styles
   ---------------------------------------------------------*/
.special-text{
    font-size: 10px;
}