<div class="row img-home">
    <div class="container content-home">
        <h1 class="text-center">Where our food crops come from</h1>
        <p class="text-justify">
            Explore the geographic origins of our food crops - where they were initially domesticated and evolved over time - and discover
            how important these “primary regions of diversity” are to our current diets and agricultural production areas.
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 text-center">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
            width="140" height="140">
            <h2>Map</h2>
            <p class="text-justify"> The crop map displays primary regions of diversity for selected major agricultural crops (81 crops shown).</p>
            <p><a class="btn btn-default" href="/#/map" role="button">View details »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
            width="140" height="140">
            <h2>Diets</h2>
            <p class="text-justify">Explore the links between where food crops come from – their native origins and traditional regions of diversity
                – and where they are now eaten worldwide. Hover over regions and flows to discover how much our food supplies
                are comprised of crops native to different regions of the world.</p>
            <p><a class="btn btn-default" href="/#/interdependence/fs_interdependence_complex_text/1" role="button">View details »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
            width="140" height="140">
            <h2>Production</h2>
            <p class="text-justify">Explore the links between where food crops come from – their native origins and traditional regions of diversity
                – and where they are now produced worldwide. Hover over regions and flows to discover how much our agricultural
                production areas are comprised of crops native to different regions of the world.</p>
            <p><a class="btn btn-default" href="/#/interdependence/prod_interdependence_complex_text/0" role="button">View details »</a></p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>