<div class="container-full">
    <div class="jumbotron img-home content-home">
        <h1 class="text-center">Where our food crops come from</h1>
        <p class="text-center">
            Explore the geographic origins of our food crops - where they were initially domesticated and evolved over time - and discover
            how important these “primary regions of diversity” are to our current diets and agricultural production areas.
        </p>
    </div>
</div>
<div class="container">    
    <div class="row">
        <div class="col-lg-4 text-center">
            <img class="img-circle" src="images/home.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Map</h2>
            <p class="text-justify"> The crop map displays the native origins and primary regions of diversity for selected major agricultural crops
                (81 crops shown).</p>
            <p><a class="btn btn-default" href="/#/map" role="button">View</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="img-circle" src="images/diets.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Diets</h2>
            <p class="text-justify">Explore the links between where food crops come from – their native origins and traditional regions of diversity
                – and where they are now eaten worldwide.</p>
            <p><a class="btn btn-default" href="/#/interdependence/food_supplier/1" role="button">View</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="img-circle" src="images/production.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Production</h2>
            <p class="text-justify">Explore the links between where food crops come from – their native origins and traditional regions of diversity
                – and where they are now produced worldwide.</p>
            <p><a class="btn btn-default" href="/#/interdependence/production/0" role="button">View</a></p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>